body, html {
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	overflow:hidden;
}

.adip_dynfooter {
	height: auto !important;
	background: #10312B !important;
	width: 100% !important;
	/*  position:relative !important;  */
	bottom: 0 !important;
	left: 0 !important;
	min-height: 3em !important;
	/*padding-top: 50px !important;*/
}

.adip_dynfooter_title {
	font-family: 'Montserrat' !important;
	font-size: 16px !important;
	font-style: normal;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: -0.342293px;
	color: #FFFFFF;
}

.adip_dynfooter_text {
	font-family: 'Montserrat' !important;
	font-size: 14px !important;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	letter-spacing: -0.088876px;
	color: #FFFFFF !important;
}

.adip_dynfooter_text_bold {
	font-family: 'Montserrat' !important;
	font-size: 14px !important;
	font-style: normal;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: -0.088876px;
	color: #FFFFFF !important;
}

.adip_dynfooter_ui-panelgrid-sin-fondo {
	background: none !important;
	/*padding: 0px 25px !important;*/
	padding: 0px 15px !important;
	margin: 0px 0px !important;
}


.adip_dynfooter_ui-panelgrid-sin-fondo_contactos {
	background: none !important;
	padding: 0px 36px !important;
	margin: 0px 0px !important;
}

.adip_dynfooter_ui-panelgrid-sin-fondo_no_padding {
	background: none !important;
	padding: 0px 0px !important;
	margin: 0px 0px !important;
}

.adip_dynfooter_footer-celda {
	/*margin-block-end: 10px;*/
	margin: 0px !important;
}

.adip_dynfooter_ui_panelgrid-sin-padding{
	padding: 0px 0px !important;
}

.adip_dynfooter_ui-panelgrid-sin-padding-sitios {
	background: none !important;
	padding: 0px 0px !important;
}

.adip_dynfooter_footer-texto-sitio {
	font-family: 'Montserrat' !important;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-decoration: underline;
	letter-spacing: -0.088876px;
	color: #FFFFFF !important;
}



@media screen and (min-width: 645px) {
		.lg\:text-center {
			text-align: center !important;

		}

		.adip_dynfooter_ui-panelgrid-sin-fondo-redes{
			background: none !important;
			padding: 0px 0px !important;
			margin: 0px 0px !important;
		}

	}

@media screen and (max-width: 644px) {

		.sm\:text-left {
			text-align: left !important;
		}

		.adip_dynfooter_ui-panelgrid-sin-fondo {
		background: none !important;
		padding: 0px 0px !important;
		margin: 0px 0px !important;
		}

		.adip_dynfooter_ui-panelgrid-sin-fondo-redes{
			background: none !important;
			padding: 0px 0px !important;
			margin: 0px 0px !important;
		}

	}

.adip_dynfooter_footer-cintillo {
	background-size: cover;
	background-repeat: repeat-x;
	background-position-x: center;
	height: 30px;
}

